
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 200px;
  background-color: white;
  border: 1px solid black;
  z-index: 10;
}

.modal-content {
  padding: 20px;
}

.modal-header {
  display: flex;
  justify-content: flex-end;
}

.modal-body {
  margin-top: 20px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
